*,
html {
  margin: 0;
  Padding:0;
    
}
body{
  display: grid;
  grid-template-rows:50px 10fr 1fr;
}
a,ul,li,p{
  font-family: roboto;
  text-decoration: none;
  font-size: 12;
  color: white;
  
}
.a-navbar{
  color: white;
  font-size: 14;

  
}
.container-navbar {
  display:flex;
  background-color:#333;
  justify-content:center;
  align-items:center;
}
.li-navbar {
  padding:10px;
  margin: 10px;
  list-style-type: none;
  text-decoration:none;
}
  .li-navbar:hover {
    background-color: rgba(94, 94, 94, 0.867);
    transition: 7s case-in-out;
    border-radius: 5px;
  }
.container-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-content {
  width: 80%;
  opacity: 0.3;
  object-fit:cover;
}
.container-footer {
  background-color: #333;
  color:white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
    .li-footer,.ul-footer{
      list-style-type: none;
    }
.p-footer{
  font-weight: bold;
  margin-bottom:5px;
}
.ul-footer{
  display: flex;
  flex-direction: row;
}
.li-footer{
  padding: 5px;
}
