*,
html {
  margin: 0;
  Padding:0;
}
body{
  display: grid;
  grid-template-rows:50px 10fr 1.5fr;
}
a,ul,li,p{
  font-family: roboto;
  text-decoration: none;
  list-style: none;
  font-size: 12;
  color: white;
}
  .ul-navbar{
  display: flex;
  flex-direction: row;
}
.p-navbar{
  color: white;
  font-size: 14;
  padding: 5;

}.li-navbar:hover {
    background-color:#1c98ed;
    transition: 7s case-in-out;
    border-radius: 5px;
    cursor: pointer;
  }
.container-navbar {
  display:flex;
  flex-direction: column;
  background-color:#333;
}

.li-navbar {
  margin: 10px;
  list-style-type: none;
  text-decoration:none;
  color: white;
  font-size: 14;
  padding: 5;
}
  



.container-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-content {
  width: 80%;
  opacity: 0.3;
  object-fit:cover;
}
.container-footer {
  background-color: #333;
  color:white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact-box{
  display:flex;
  flex-direction: column;
  margin-left: 50;
}
p{
  margin-bottom: 5;
}
p,.contact-adress{
  margin-left: 10;
  font-size: 14;
}
.adress-box{
  width: 1fr;margin-left: 10;
  display: flex;
  flex-direction: row;
  justify-content: ;
}
.img-sosmed{
  width: 20px;
  height: 20px;
}
.licontact{
  display:flex;
  flex-direction: row;
  margin-right: 20px;
}