*,
html {
  margin: 0;
  Padding:0;
    
}
.container{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: auto;
}
a,h2,p{
  text-decoration: none;
  font-family:roboto ;
}
.a-navbar{
  color: white;
}
.container-navbar{
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul-navbar{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.li-navbar{
  padding: 10px;
  margin:px;
  display: flex;
  cursor: pointer;
  font-size: 12px ;
}
.li-navbar:hover{
  background-color: rgba(192, 192, 192, 0.386);
  padding: 10px;
  border-radius: 5px;
}
.container-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-content{
  color:black;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 5px;
  display: flex;
  flex-direction:column;
  align-items: center;
  padding:5px;
}
.img-content{
  width: 150px;
  display: inline-block;
}
.p-content{
  font-size: 12px;
  padding: 5;
}
