*,
html {
  margin: 0;
  Padding:0;
    
}
body{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: auto;
}
.container-navbar {
  display:flex;
  background-color:#333;
  justify-content:center;
  align-items:center;
}
.h2-navbar {
  margin:10px;
  padding:10px;
  list-style-type: none;
  text-decoration:none;
}
p,a,h2{
  font-family: roboto;
  font-size: 12px;
}
a{
  text-decoration: none;
  color: white;
}
.h2-navbar:hover {
  background-color: rgba(94, 94, 94, 0.867);
  transition: 1s case-in-out;
  border-radius: 5px;
}
.p-home{
  font-size: 50;
  font-weight: bold;
  background-color: grey;
  color:white;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}
.container-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img-content {
  opacity: 0.4;
  width:100%;
    
}
.a-content {
  color:black;
  text-decoration: none;
  background-color:white;
  justify-content:center ;
  align-items: center;
  padding:20px;
  box-shadow: 6px 8px 15px rgba(0,0,0,0.5);
  border-radius:40px;
  display: flex;
  flex-direction: column;
    
    
}
.img-content {
  width:180px;
  padding:px;
}
.container-footer {
  display:flex;
  background-color: #333;
}
.h2-footer {
  color:white;
}

