*,
html {
  margin: 0;
  Padding:0;
    
}
body{
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  height: auto;
}
a,h2{
  font-family: roboto;
  text-decoration: none;
}
.a-navbar{
  color: white;
}
h2{
  font-size: 12px;
}
.container-navbar {
  display:flex;
  background-color:#333;
  justify-content:center;
  align-items:center;
}
.h2-navbar {
  margin:10px;
  padding:10px;
  list-style-type: none;
  text-decoration:none;
}
.h2-navbar:active{transition: 7s case-in-out;
}
.h2-navbar:hover {
  background-color: rgba(94, 94, 94, 0.867);
  transition: 7s case-in-out;
  border-radius: 5px;
}
.container-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-content {
  width: auto;
}
.container-footer {
  background-color: #333;
  color:white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer1 {
  display:flex;
  display:inline-block;
  justify-content: center;
  align-items: center;
}

