*,
html {
  margin: 0;
  Padding:0;
    
}
p,a,li{
  font-family: roboto;
  font-size: 12px;
}
a{
  text-decoration: none;
  color: white;

}
body{
  display: grid;
  grid-template-rows: 50px 10fr 1fr;
}
.container-navbar{
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-navbar{
  font-size: 14px;
}
.li-navbar {
  margin:10px;
  padding:10px;
  list-style-type: none;
  text-decoration:none;
  
}
.li-navbar:hover {
  /*opacity:0.7;*/
  background-color: rgba(192, 192, 192, 0.292);
  transition: 1s case-in-out;
  border-radius: 5px;
}

.container-content {
  justify-content:center;
  align-items:center;
  display: flex;
    
}
.img-mtsn{
  width: 280px;
  border-radius: 30px; 
  margin-right:20px;
  border-color: white;
  box-shadow: 2px 1px 15px rgba(0,0,0,0.5);
}
.a-content {
  color:black;
  text-decoration: none;
  background-color:white;
  justify-content:center ;
  align-items: center;
  padding:20px;
  box-shadow: 6px 8px 15px rgba(0,0,0,0.5);
  border-radius:40px;
  display: flex;
  flex-direction: column;
    
    
}
.img-content {
  width:180px;
  padding:px;
}
.p-content{
  margin-top: 10px;
  font-size: 8px;
  font-weight:bold;
}
.container-footer {
  background-color: #333;
  color:white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
    .li-footer,.ul-footer{
      font-size: 12;
      list-style-type: none;
    }
.p-footer{
  font-weight: bold;
  margin-bottom:5px;
}
.ul-footer{
  display: flex;
  flex-direction: row;
}
.li-footer{
  padding: 5px;
}

